h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  text-align: center;
  border-radius: 5px;
}

.new {
  background-color:plum;
}

.in-progress {
  background-color: deepskyblue;
}

.completed {
  background-color: greenyellow;
}



.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.wrapper {
  background-color: slategrey;
}