doctype html
html
  head
    meta content="text/html" charset="UTF-8" http-equiv="Content-Type" /
    title Sovtech
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    p.notice= notice
    p.alert= alert
    .container-top
      .row
        .col.col-25.text-left
          - if user_signed_in?
            .button.button-navbar= link_to "Create task", new_task_path
        - if user_signed_in?
          .col.col-75.text-right
            .button.button-navbar= link_to 'Edit profile', edit_user_registration_path
            .button.button-navbar= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          .col.col-100.text-right
            .button.button-navbar= link_to "Sign up", new_user_registration_path
            .button.button-navbar= link_to "Login", new_user_session_path
    = yield
